# Register TSV Data With Athena

In [1]:
import boto3
import sagemaker

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [2]:
ingest_create_athena_table_csv_passed = False

In [3]:
%store -r ingest_create_athena_db_passed

In [4]:
try:
    ingest_create_athena_db_passed
except NameError:
    print("++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not create the Athena Database.")
    print("++++++++++++++++++++++++++++++++++++++++++++++")

In [5]:
print(ingest_create_athena_db_passed)

True

In [6]:
if not ingest_create_athena_db_passed:
    print("++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not create the Athena Database.")
    print("++++++++++++++++++++++++++++++++++++++++++++++")
else:
    print("[OK]")

[OK]

In [7]:
%store -r s3_private_path_csv

In [9]:
try:
    s3_private_path_csv
except NameError:
    print("*****************************************************************************")
    print("[ERROR] PLEASE RE-RUN THE PREVIOUS COPY TSV TO S3 NOTEBOOK ******************")
    print("[ERROR] THIS NOTEBOOK WILL NOT RUN PROPERLY. ********************************")
    print("*****************************************************************************")

In [10]:
print(s3_private_path_csv)

s3://sagemaker-us-east-1-339129315232/Assignment_2

# Import PyAthena

In [11]:
from pyathena import connect

#### Dataset columns

- `Track ID`: ID for the specific track
- `artists`: Name of the band/artist that wrote the track
- `album_name`: Name of album
- `track_name`: name of the song.
- `popularity`: rating.
- `duration_ms`: Song length in MS.
- `explicit`: Explicit version true or false
- `dancability`: likely to make you dance.
- `energy`:
- `key`: 
- `loudness`:
- `mode`: 
- `speechiness`: 
- `acousticness`: 
- `instrumentalness`: 
- `liveness`:
- `valence`:
- `tempo`:
- `time_signature`:
- `track_genre`:

In [12]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [13]:
# Set Athena parameters
database_name = "dsoaws"
table_name_csv = "Assignment_2"

In [14]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [ ]:
# SQL statement to execute
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         Track ID string,
         artists string,
         album_name string,
         track_name string,
         popularity string,
         duration_ms string,
         explicit string,
         dancability int,
         energy int,
         key int,
         loudness string,
         verified_purchase string,
         review_headline string,
         review_body string,
         review_date string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\\t' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_tsv, s3_private_path_tsv
)

print(statement)